@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;700&display=swap');
.body {
	font-family: 'Nunito', sans-serif;
	background-color: #fafafa;
	color: black;
	/* font-weight: bold; */
}
.header,
.header-first-child,
.header-third-child {
	display: flex;
	flex-direction: row;
	align-items: center;
}
.header {
	margin-top: 2%;
	margin-bottom: 2%;
	/* background-color: #d1d1d1; */
}
.header > * {
	flex: 0 0 33.3%;
}
.header-second-child {
	text-align: center;
	font-size: 150%;
	font-weight: bold;
}
.header-third-child {
	justify-content: end;
}
.header-third-child > * {
	flex: 0 0 10%;
}
.header-third-child .fb-icon {
	flex: 0 0 2%;
}
.header-second-child p {
	margin-bottom: 0;
}
.header-second-child a {
	color: #000;
}
.header-second-child a:hover {
	color: #000000b3;
}
.pipe {
	display: inline-block;
	height: 14px;
	margin: 0 10px;
	width: 1px;
	border-left: 1.5px solid #333;
	vertical-align: middle;
}
.nav-ribbon {
	display: flex;
	flex-direction: row;
	margin-bottom: 2%;
}
.nav-ribbon-first-child {
	flex: 0 0 20%;
	display: flex;
	align-items: center;
	font-weight: bold;
}
.india-button {
	display: flex;
	cursor: pointer;
}
.india-button i {
	display: inline-block;
	margin-left: 10%;
}
.nav-ribbon-last-child {
	flex: 0 0 80%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.nav-ribbon-last-child .last-child {
	flex: 0 16.6%;
}
.nav-bar {
	position: relative;
}
.globe,
.caret {
	font-size: 150%;
}
.globe {
	margin-right: 8px;
}
.action-button {
	background-color: #a239ca;
	width: 100%;
	padding: 8%;
	border: 0;
	border-radius: 30px;
	font-weight: bold;
	color: #fff;
}
.india-offices-title {
	font-weight: bold;
	font-size: 300%;
	margin-bottom: 4%;
}
.logo img {
	width: 8%;
}
.logo a {
	text-decoration: none;
}
.action-button a {
	color: #fff;
}

.action-button a:hover {
	color: #fff;
}
.link {
	text-decoration: none;
	color: #000;
	font-weight: bold;
	cursor: pointer;
}
.link:hover {
	color: rgba(0, 0, 0, 0.7);
}
.banner {
	background-image: linear-gradient(#00000080, #00000080),
		url('../assets/images/lumensoft-technologies-WaGMKmJ2F0Y-unsplash.jpg');
	background-position: 50% 40%;
	background-size: cover;
	height: 400px;
	overflow: hidden;
	width: 100%;
}
.banner-text {
	font-size: 200%;
	font-weight: bold;
	color: #fff;
	text-align: center;
}
main {
	overflow: hidden;
	margin: 4% 0;
}
footer {
	padding: 4%;
	background-color: #53565a;
	color: #eaeaea;
}
.india-offices-title {
	margin-bottom: 2%;
}
.india-offices-content h3 {
	font-size: 200%;
}
.textarea {
	height: 20%;
}
.form-button {
	width: 100%;
	padding: 2%;
	border-radius: 30px;
	border: none;
	font-size: 120%;
	font-weight: bold;
	color: rgba(0, 0, 0, 0.6);
	background-color: rgb(235, 235, 235);
}
.footer-icon {
	display: inline-block;
	margin-right: 2%;
}
footer .social-icon {
	color: #fff;
}
header .social-icon {
	color: #000;
}
.social-icon {
	font-size: 120%;
	transition: all 0.8s;
}
.ln-icon:hover {
	color: #2867b2;
}
.tw-icon:hover {
	color: #1da1f2;
}
.fb-icon:hover {
	color: #4267b2;
}
.copyright {
	font-weight: bold;
}
[data-tab-content] {
    display: none;
}
.active[data-tab-content] {
    display: block;
}
.iframe {
	height: 30em;
}
.tabs {
	list-style-type: none;
	font-size: 200%;
	padding: 0;
	border-bottom: 2px solid rgba(0, 0, 0,0.4);
	margin: 0 0 4% 0;
}
.tab {
	cursor: pointer;
	padding: 1% 2%;
	border-top-left-radius: 12px;
	border-top-right-radius: 12px;
	transition: all 0.2s;
}
.tab:hover {
	background-color: rgb(184, 184, 184);
}
.tabs .active {
	background-color: rgba(0, 0, 0,0.4);
	font-weight: bold;
}
.form button {
	background-color: #a239ca;
	color: #fff;
}

@media (max-width: 567px) {
	.action-button {
		padding: 3%;
		width: 50%;
		border-radius: 30px;
	}
	.banner {
		height: 200px;
		width: 100%;
	}
	.banner-text {
		font-size: 150%;
	}
	.india-offices-content h3 {
		font-size: 1.5em;
	}
	.india-offices-content p {
		margin-bottom: 0.1em;
	}
	.india-offices-content p.last-paragraph {
		margin-bottom: 1em;
	}
	.envelope {
		margin: 0 0.2em 0 0.4em;
	}
	.phone {
		margin: 0 0.2em 0 0.4em;
	}
	.icon-pack {
		margin: 0.5em auto !important;
	}
	.tabs {
		/* justify-content: space-between; */
	}
	.tab {
		flex: 0 0 20%;
		font-size: 60%;
	}
	.active h2 {
		font-size: 140%;
	}
	.active p {
		font-size: 100%;
	}
	.active .iframe {
		display: none;
	}
}
@media (min-width:568px) {
	.logo img {
		width: 12%;
	}
	.banner {
		height: 300px;
	}
}
@media (min-width:1140px) {
	.banner {
		height: 400px;
	}
}