@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;700&display=swap');

.body {
	font-family: 'Nunito', sans-serif;
	background-color: #fafafa;
	color: black;
	/* font-weight: bold; */
}

.header {
	margin-top: 2%;
	margin-bottom: 2%;
	/* background-color: #d1d1d1; */
}
.header-second-child {
	text-align: center;
	font-size: 150%;
	font-weight: bold;
}
.header-second-child a {
	color: #000;
}
.header-second-child a:hover {
	color: #000000b3;
}
.pipe {
	display: inline-block;
	height: 14px;
	margin: 0 10px;
	width: 1px;
	border-left: 1.5px solid #333;
	vertical-align: middle;
}
.nav-ribbon {
	margin-bottom: 1%;
}
.nav-ribbon-first-child {
	font-weight: bold;
}
.action-button {
	background-color: #a239ca;
	width: 100%;
	padding: 8%;
	border: 0;
	border-radius: 30px;
	font-weight: bold;
	color: #fff;
}
.logo img {
	width: 8%;
}
.logo a {
	text-decoration: none;
}
.action-button a {
	color: #fff;
}

.action-button a:hover {
	color: #fff;
}
.link {
	text-decoration: none;
	color: #000 !important;
	font-weight: bold;
	cursor: pointer;
}
.link:hover {
	color: rgba(0, 0, 0, 0.6) !important;
}

.countries {
	cursor: pointer;
}
.banner {
	background-image: linear-gradient(#00000080, #00000080),
		url('../assets/images/pexels-cottonbro-4065876.jpg');
	background-position: 50% 40%;
	background-size: cover;
	height: 400px;
	overflow: hidden;
	width: 100%;
}
.banner-text {
	font-size: 350%;
	font-weight: bold;
	line-height: 130%;
	color: #fff;
	margin-top: 40px;
	text-align: center;
}
.banner-button {
	background-color: #a239ca;
	width: 25%;
	border: 0;
	border-radius: 30px;
	color: #fff;
	font-weight: bold;
	font-size: 130%;
	margin-left: 38%;
}
.banner-button i {
	display: inline-block;
	margin-right: 3%;
}
.countries {
	display: flex;
	flex-direction: column;
}
.countries a {
	text-decoration: none;
	color: #000;
	font-weight: bold;
	font-size: 120%;
	width: 100%;
	padding: 10%;
	transition: all 0.5s;
	border-bottom: 2px solid #eeeeee;
}

.countries a:hover {
	background-color: #eeeeee;
	color: rgb(46, 46, 46);
}
main {
	width: 100%;
	overflow: hidden;
	/* border: 2px solid red; */
}
.main-box-form {
	overflow: hidden;
	background-color: #fff;
}
.form-group {
	margin: 3% auto;
	text-align: center;
	overflow-x: hidden;
}
.form-group > * {
	height: 50px;
	padding: 2%;
	text-transform: uppercase;
	outline: none;
}
.form-group > button {
	margin-right: 0;
	padding: 0;
	background-color: #777777;
	border: 0;
}
.form-group > button .link {
	color: #fff;
}
.client-box,
.services {
	margin-bottom: 6%;
}
.client-box-content {
	margin: 3% auto;
}
.client-box-content h2,
.services h2,
.android-application h2,
.dream-job-title,
.everywhere h2,
.media-coverage-title,
.india-offices-title {
	font-weight: bold;
	font-size: 300%;
	margin-bottom: 4%;
}
.services {
	background-color: #fff;
	margin-bottom: 0;
}
.services-content {
	padding-top: 3%;
	padding-bottom: 5%;
}
.services-card {
	padding: 6%;
	background-color: #f6f6f6 !important;
	border: 0 !important;
	border-radius: 20px !important;
}
.text-margin {
	margin-top: 10%;
}
.card {
	padding-bottom: 4%;
}
.services-title {
	font-weight: bold;
	font-size: 120%;
}
.services-text {
	font-weight: normal;
	font-size: 100%;
	line-height: 150%;
}
.services-button {
	background-color: #a239ca;
	border: 0;
	padding: 4%;
	border-radius: 30px;
	width: 100%;
	font-size: 120%;
	color: #fff !important;
	font-weight: bold;
}
.services-button-2nd-child {
	margin-top: 8%;
}
.services-link,
.services-link:hover {
	color: #fff !important;
}
.everywhere {
	margin: 3% auto;
}
.everywhere h2 {
	margin-bottom: 1.5%;
}
.everywhere h3 {
	color: #a239ca;
	font-size: 200%;
	font-weight: bold;
	text-align: center;
	margin-bottom: 0;
}
.everywhere p {
	text-align: center;
	font-size: 150%;
}
.android-application {
	background-color: #a239ca;
}
.android-application h2 {
	color: #fff;
}
.image-container {
	overflow: hidden;
	margin-left: 6%;
}
.image-container a {
	width: 100%;
}
.android-phone {
	width: 100%;
}
.android-application-child {
	padding: 2%;
}
.playstore-text,
.playstore-text > ol {
	color: #fff;
	font-weight: normal;
	font-size: 130%;
}
.android-application button {
	width: 30%;
	padding: 2%;
	background-color: #fff;
	border-radius: 30px;
	border: none;
	margin-top: 3%;
	font-size: 130%;
	font-weight: bold;
}
.android-application button:last-of-type {
	margin-left: 2%;
	width: 40%;
}
.android-application button a {
	text-decoration: none;
	color: #000;
	width: 100%;
}
.dream-job {
	background-color: #eaeaea;
	padding: 4%;
}
.dream-job-content p {
	color: #000;
	font-weight: normal;
	font-size: 130%;
}
.dream-job-content button {
	width: 80%;
	padding: 2%;
	background-color: #a239ca;
	color: #fff;
	border-radius: 30px;
	border: none;
	margin-top: 2%;
	font-size: 130%;
	font-weight: bold;
}
.dream-job-content .svg {
	margin-top: -2%;
}
.media-coverage {
	padding: 4%;
}
footer {
	padding: 4%;
	background-color: #53565a;
	color: #eaeaea;
}
.india-offices-title {
	margin-bottom: 2%;
}
.india-offices-content h3 {
	font-size: 200%;
}
.textarea {
	height: 20%;
}
.form-button {
	width: 100%;
	padding: 2%;
	border-radius: 30px;
	border: none;
	font-size: 120%;
	font-weight: bold;
	color: rgba(0, 0, 0, 0.6);
	background-color: rgb(235, 235, 235);
}
.footer-icon {
	display: inline-block;
	margin-right: 2%;
}
footer .social-icon {
	color: #fff;
}
header .social-icon {
	color: #000;
}
.social-icon {
	font-size: 120%;
	transition: all 0.8s;
}
.ln-icon:hover {
	color: #2867b2;
}
.tw-icon:hover {
	color: #1da1f2;
}
.fb-icon:hover {
	color: #4267b2;
}
.copyright {
	font-weight: bold;
}
.envelope {
	display: inline-block;
	margin-left: 10%;
}
.dropdown-item,
.dropdown-toggle p {
	font-size: 110%;
	font-weight: bold;
}
@media (min-width: 1024px) {
	.banner-button {
		padding: .6em;
	}
	.banner-text {
		margin-top: .8em;
	}
	.text-margin {
		/* margin: 15% 0 20% 0; */
	}
	.android-application h2 {
		margin-bottom: .2em;
	}
	.image-container {
		margin: 0;
	}
	.android-application-flex {
		margin: 0 !important;
	}
	.android-application-child {
		padding: 1.8em 0 2em 0;
	}
}
@media (min-width: 768px) and (max-width: 1023px) {
	.logo img {
		width: 12%;
	}
	.logo {
		text-align: right;
	}
	.header-icon {
		margin-left: 8%;
	}
	.banner {
		height: 350px;
	}
	.banner-text {
		font-size: 300%;
		margin-top: 40px;
		line-height: 130%;
		text-align: center;
	}
	.banner a {
		font-weight: bold;
		width: 20%;
		font-size: 130%;
	}
	.banner-button {
		width: 35%;
		padding-top: 0.4em;
		padding-bottom: 0.4em;
		margin-left: 32%;
	}
	.card-title {
		font-size: 150%;
		margin-bottom: 0;
	}
	.card-text {
		font-size: 110%;
		text-align: center;
	}
	.services-button-2nd-child {
		margin-top: 1.1em;
	}
	.card {
		margin-bottom: 2.5em;
	}
	.card-2 {
		padding-bottom: 1.2em;
	}
	.services-content {
		padding-bottom: 3%;
	}
	.everywhere h2 {
		padding-bottom: 2%;
	}
	.everywhere-figures {
		margin-bottom: 1em;
	}
	.everywhere {
		margin-bottom: 0;
	}
	.android-application h2 {
		margin-bottom: 1%;
	}
	.image-container {
		margin-left: 0;
	}
	.android-application button:last-of-type {
		width: 80%;
		margin-bottom: 0.5em;
	}
}
@media (max-width: 567px) {
	.banner-text {
		text-align: center;
	}
	.playstore-link {
		width: 80%;
		margin: auto;
	}
	.image-container {
		margin: 0.5em !important;
	}
	.action-button {
		padding: 3%;
		width: 50%;
		border-radius: 30px;
	}
	.banner {
		height: 200px;
		width: 100%;
	}
	.banner-text {
		margin-top: 0.8em;
		margin-bottom: 0;
		font-size: 150%;
		padding: 3%;
		line-height: 1.3em;
	}
	.banner-button {
		width: 80%;
		margin-left: 10%;
		padding: 0.4em;
	}
	.banner-button a {
		font-size: 100%;
	}
	.banner-button i {
		margin-right: 1%;
	}
	.form-group > * {
		width: 100%;
		height: 40px;
		margin-bottom: 8px;
	}
	.form-group .client-box-content h2,
	.services h2,
	.android-application h2,
	.dream-job-title,
	.media-coverage-title,
	.india-offices-title {
		font-size: 150%;
		text-align: center;
	}
	.everywhere h2 {
		font-size: 150%;
		text-align: center;
		margin-bottom: 3%;
	}
	.client-box {
		margin-bottom: 0;
	}
	.services {
		margin-top: -8%;
	}
	.services-content {
		padding-bottom: 1%;
	}
	.services-card {
		margin-bottom: 10%;
		padding: 4%;
	}
	.card-title {
		font-size: 120%;
	}
	.card-text {
		margin-top: 2%;
		font-size: 100%;
	}
	.everywhere {
		margin-bottom: 0;
	}
	.everywhere p {
		font-size: 100%;
	}
	.playstore-link {
		width: 100%;
	}
	.playstore-link button {
		width: 100% !important;
		font-size: 100%;
		padding: 0.5em 0.2em;
		margin-bottom: 0.5em;
	}
	.android-application h2 {
		margin-bottom: 0.1em;
	}
	.android-application {
		padding-bottom: 0.4em;
	}
	.dream-job-content button {
		width: 100%;
		font-size: 100%;
	}
	.dream-job-content p {
		font-size: 100%;
	}
	.dream-job-content {
		padding-bottom: 0.4em;
	}
	.media-coverage {
		padding-bottom: 0;
	}
	.india-offices-content h3 {
		font-size: 1.5em;
	}
	.india-offices-content p {
		margin-bottom: 0.1em;
	}
	.india-offices-content p.last-paragraph {
		margin-bottom: 1em;
	}
	.envelope {
		margin: 0 0.2em 0 0.4em;
	}
	.phone {
		margin: 0 0.2em 0 0.4em;
	}
	.icon-pack {
		margin: 0.5em auto !important;
	}
}
